body {
  position: relative;
  overflow: hidden;
  background-color: #fff;
}

#start {
  background-color: rgb(3, 169, 22);
}
#start:hover {
  background-color: rgb(123, 215, 87);
  color: black;
}

#stop {
  background-color: rgb(250, 10, 10);
  margin-left: 10px;
  margin-right: 10px;
}
#stop:hover {
  background-color: rgb(232, 109, 109);
  color: black;
}

#reset {
  background-color: rgb(3, 29, 144);
}
#reset:hover {
  background-color: rgb(100, 167, 233);
  color: black;
}

.button {
  transition-duration: 0.4s;
  border-radius: 10px;
  color: white;
  padding: 10px;
}

#hour,
#min,
#sec {
  height: 100%;
  width: 100%;
  font-size: 40px;
}
.center-box {
  position: absolute; /* Allows precise positioning */
  top: 50%; /* Centers vertically */
  left: 50%; /* Centers horizontally */
  transform: translate(-50%, -20%); /* Adjusts to center the box */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
  border: 2px solid black;
  border-radius: 25px;
  background: white;
}

canvas {
  border: 1px solid black;
  width: 100%;
  height: 100%;
}
